---
import type { ComponentProps } from 'astro/types';
import { Code as CodeElement } from 'astro:components';

type CodeProps = ComponentProps<typeof CodeElement>;

interface Props extends CodeProps {
  showLineNumbers?: boolean;
  startLineNumberFrom?: number;
}

const {
  code,
  lang = 'shell',
  wrap = true,
  showLineNumbers = false,
} = Astro.props;
---

<div class="code-block-div">
  <sl-copy-button class="code-copy-btn" value={code}></sl-copy-button>
  <CodeElement
    {code}
    {lang}
    {wrap}
    class:list={[{ 'line-numbers': showLineNumbers }]}
    theme="catppuccin-macchiato"
  />
</div>

<style is:global>
  .code-block-div {
    position: relative;
  }

  .code-copy-btn {
    position: absolute;
    right: 0;
    top: 10px;
  }

  .line-numbers > code {
    counter-reset: step;
    counter-increment: step calc(var(--start, 1) - 1);
  }

  .line-numbers > code .line::before {
    content: counter(step);
    counter-increment: step;
    width: 1rem;
    margin-right: 1.5rem;
    display: inline-block;
    text-align: right;
    color: rgba(115, 138, 148, 0.4);
  }
</style>

<script>
  import '@shoelace-style/shoelace/dist/components/copy-button/copy-button.js';
</script>
