---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, ...rest } = Astro.props;

const stringifiedHref = typeof href === 'string' ? href : href?.toString();

const isInternalLink = stringifiedHref && stringifiedHref.startsWith('/');
const isAnchorLink = stringifiedHref && stringifiedHref.startsWith('#');
---

{
  isInternalLink || isAnchorLink ? (
    <a href={href} {...rest}>
      <slot />
    </a>
  ) : (
    <a target="_blank" rel="noopener noreferrer" href={href} {...rest}>
      <slot />
    </a>
  )
}
