<div
  class="fixed bottom-8 right-8 hidden flex-col gap-3"
  id="commentsAndScrollToTopButtons"
>
  <button
    aria-label="Scroll To Top"
    id="scrollToTopButton"
    class="rounded-full bg-gray-200 p-2 text-gray-500 transition-all hover:bg-gray-300 dark:bg-gray-700 dark:text-gray-400 dark:hover:bg-gray-600"
  >
    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
      <path
        fill-rule="evenodd"
        d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z"
        clip-rule="evenodd"></path>
    </svg>
  </button>
</div>

<script data-astro-rerun>
  // Prevents the script from being executed multiple times
  // This is due to Astro's ViewTransition feature
  globalThis.isInitialized = false;

  if (!globalThis.isInitialized) {
    const scrollToTopButton = document.getElementById('scrollToTopButton');
    const commentsAndScrollToTopButtons = document.getElementById(
      'commentsAndScrollToTopButtons',
    );

    scrollToTopButton?.addEventListener('click', () => {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    });

    window.addEventListener('scroll', () => {
      commentsAndScrollToTopButtons?.classList.toggle(
        'hidden',
        window.scrollY < 50,
      );
      commentsAndScrollToTopButtons?.classList.toggle(
        'flex',
        window.scrollY >= 50,
      );
    });

    globalThis.isInitialized = true;
  }
</script>
